<!DOCTYPE html>
<html>

<head>
  <title>General Assembly</title>
  <meta charset="utf-8">
  <base target="_parent">
  <link rel="stylesheet" href="https://{{ site.github.pages_hostname }}/{{ site.github.owner_name }}/universal-resources-internal/static/css/prework-styling.css">
  <script type="text/javascript" charset="utf8" async="" src="https://fast.wistia.com/assets/external/E-v1.js"></script>
  <script type="text/javascript" id="www-widgetapi-script" src="https://www.youtube.com/s/player/31eb286a/www-widgetapi.vflset/www-widgetapi.js" async=""></script>
  <link
  rel="stylesheet"
  href="https://{{ site.github.pages_hostname }}/{{ site.github.owner_name }}/universal-resources-internal/static/css/code-theme.min.css"
/>
<link
  rel="stylesheet"
  href="https://{{ site.github.pages_hostname }}/{{ site.github.owner_name }}/universal-resources-internal/static/css/custom-style.min.css"
/>
<script
src="https://{{ site.github.pages_hostname }}/{{ site.github.owner_name }}/universal-resources-internal/static/js/anchor.min.js"
></script>
<!-- <script
src="https://{{ site.github.pages_hostname }}/{{ site.github.owner_name }}/universal-resources-internal/static/js/highlightjs.min.js"
></script>
<script
src="https://{{ site.github.pages_hostname }}/{{ site.github.owner_name }}/universal-resources-internal/static/js/highlightjs-copy.min.js"
></script> -->
<script
src="https://{{ site.github.pages_hostname }}/{{ site.github.owner_name }}/universal-resources-internal/static/js/custom.min.js"
></script>
<script
src="https://{{ site.github.pages_hostname }}/{{ site.github.owner_name }}/universal-resources-internal/static/js/custom-defer.min.js"
defer
></script>
</head>
<body>
    {{content}}
  <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
    integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
  <script src="https://remarkjs.com/downloads/remark-latest.min.js"></script>
  <script src="https://{{ site.github.pages_hostname }}/{{ site.github.owner_name }}/universal-resources-internal/static/js/pre-work-slides-functionality.js"></script>
  </script>

</body>


</html>